$theme-colors: (
  "primary":    #e0f0e7,
  "secondary":  #5E6572,
  "success":    #A9B4C2,
  "light":      #FFFFFF,
  "dark":       #000000,
  "danger":     #837569,
  "warning":    #657153,
  "info":       rgba(247,247,247,255)
);

@font-face {
  font-family: 'Bookish-Off-White';
  src: url('fonts/Bookish-Off-White-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


//Navbar
.navbar-brand{
  padding-left: 2%;
  
}

#nav_sub_head{
  padding-left: 3%;
} 

#qr {
  width: 100px;
  height: auto;
  position: absolute;
  top: 10%;
  right: 5%;
}

//Removes qr code for mobile
@media (max-width: 565px) {
  .navbar img {
    display: none;
  }
}

//Introduction
.introduction {
  position: relative;
  height: auto;
  width: 100vw;
  background-color: #e0f0e7;
  font-size: 1rem; 
  text-align: center;
}

@media (max-width: 613px){
  .introduction {
    position: relative;
    height: auto;
    width: 100vw;
    background-color: #e0f0e7;
    font-size: 1rem; 
    text-align: center;
  }
}

.about-me-text{
  font-family: 'Bookish-Off-White';
  font-size: larger;
  padding-left: 10%;
  padding-right: 10%;
}

.about-me-header {
  font-weight: bold;
  font-size: 2.5rem; 
}

.introduction a {
  margin-top: 1rem;
}


//Resume
.resume {
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
  width: 270px;
  margin: auto;
}

a:focus {  //Gets rid of blue outline bug
    outline: none;
}

#resume-text-wrapper i {
  font-size: 1.75rem; 
  margin-top: auto;
  margin-bottom: 6px;
  font-weight: bold;
}

.resume::after {
  position: absolute;
  content: "";
  width: 270px;
  height: 3px;
  top: 90%;
  left: 0%;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: black;
}

.resume:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


#class_proj_paragraph {
  font-family: Bookish-Off-White;
  font-size: large;
}


//Related Coursework
.school-info {
  display: flex;
  align-items: center;
}

img.icon {
  width: 70px;
  height: 70px;
  border-radius: 39%;
  filter:opacity(80%);
  filter:grayscale(100%);
  background-color: #e0f0e7;
  margin-right: 10px;
  border: 1px solid;
}

.school-info-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-weight: bold;
  font-size: larger;
}

.university-coursework {
  display:flex;
  flex-direction: column;
  padding-left: 7%;
  font-family: Bookish-Off-White;
  font-size: larger;
}

.university-subheader {
  padding-left: 6%;
  font-size: larger;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: -10px;
}


.contact-info-text {
  font-family: Bookish-Off-White;
}


//Projects
.projects-header-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.projects-header {
  text-align:center;
  max-width: 80%;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Bookish-Off-White;
}


//Java Project
.code-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}


@media (min-width: 1008px){
  .code-box{
    text-align: left;
    width: 70%;
    padding-top: 30px;
    padding-left: 150px;
    margin: 10px;
    background-color: #000000;
    color:white;
    margin-left: 50px;
  }
}

@media (min-width: 1008px) and (max-width: 1287px){
  .code-box{
    text-align: left;
    width: 70%;
    padding-top: 30px;
    padding-left: 90px;
    margin: 10px;
    background-color: #000000;
    margin-left: 50px;
  }
}

@media (max-width: 1007px){
  .code-box{
    text-align: left;
    width: 70%;
    margin: 10px;
    background-color: #000000;
    color:white;
    padding-left: 50px;
  }
}


.code-box-output{
  text-align: left;
  width: 60%;
  padding-top: 30px;
  margin: 10px;
  background-color: #000000;
  color:white;
}

@media (min-width: 1250px){
  .code-box-output{
    text-align: left;
    width: 60%;
    padding-top: 30px;
    padding-left: 130px;
    margin: 10px;
    background-color: #000000;
    color:white;
  }
}

.code-title {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
}

.code-description{
  padding-left: 15%;
  padding-right: 15%;
  font-family: Bookish-Off-White;
  text-align: center;
  font-size: larger;
}

.code-header{
  padding-left: 17%;
  padding-top: 20px;
  font-family: Bookish-Off-White;
  font-size: x-large;
}

.sample-header{
  padding-left: 22%;
  padding-top: 20px;
  font-family: Bookish-Off-White;
  font-size: x-large;
}
  
.accordion-button-wrapper{
  padding-right: 15%;
  padding-left: 15%;
}

.accordion-button{
  font-weight: bold;
}

//Get rid of Java SRC bottom border bug
.accordion-item:not(.collapsed), .accordion-item:not(.collapsed):focus  {
  border:none;
}

//Map Box
#map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.mapbox-attribution{
  text-align: right;
  text-align: top;
  text-decoration: none;
  color: black;
  margin-left: -20px;
  font-family: Bookish-Off-White;
}

//Footer
.social-media{
  flex-direction: row;
}

.social-media-icons {
  padding-inline: 8px;
  height: 40px;
  filter: invert(100%);
}


//Adjust screen width behavior
@media (min-width: 1250px) {
  body {
    padding-top: 113px;
    overscroll-behavior: none;
  }
}

@media (max-width: 1250px) {
  body {
    padding-top: 99px;
    overscroll-behavior: none;
  }
}

@media (max-width: 1095px) {
  .modal-body iframe {
    width: 100%;
    height: 625px;
  }
}

@media (max-width: 1095px) {
  .modal-body iframe {
    width: 100%;
    height: 625px;
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
